
@{
    ViewData["Title"] = "NoProduct";
}

<h1>There is No such Product,Would you like to search for other product</h1>
<a class="btn btn-success" href="@Url.Action("Home", "Product")">Yes</a>
<a class="btn btn-success" href="@Url.Action("Logout","Auth")">No</a>


